<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Car</title>
</head>
<body>
    <a href="/cars/">Back to Cars</a>
    <h1>Add a New Car!</h1>
    <form action="/cars" method="POST">
      <label for="color">Color:</label>
      <input type="text" name="color" id="color" />

      <label for="year">Year:</label>
      <input type="text" name="year" id="year" />

      <label for="make">Make:</label>
      <input type="text" name="make" id="make" />

      <label for="model">Model:</label>
      <input type="text" name="model" id="model" />

      <label for="type">Type:</label>
      <input type="text" name="type" id="type" />

      <button type="submit">Add New Car</button>
    </form>
</body>
</html>